# Prerequisites
*.d
*.obj
*.exe
*.pdb
*.ilk
*.suo
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# CMake Build Folders
build/
out/
bin/
cmake-build-debug/
cmake-build-release/
.vs/

# Ignore compiled Vulkan shaders
assets/shaders/*.spv

# Ignore Assets
assets/models/
assets/hdri/
assets/scenes/

# System
.DS_Store
Thumbs.db